BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^"_pyceres'
    Priority: 1
  - Regex:    '^<[[:alnum:]_]+>'
    Priority: 2
  - Regex:    '.*'
    Priority: 3
SortIncludes: true
